<div class="main">
  <div class="stars" #starsContainer></div>
  <app-navigation></app-navigation>
  <main class="contain">
    <section id="pageInicio" class="container overflow-hidden p-3 p-md-5 m-md-3 text-center text-white">
      <div class="h-title col-md-6 mx-auto my-5">
        <img class="" src="assets/img/titleOne.png"  title="OquendoSoft"/>
        <div class="welcome text-secondary fw-normal mb-3">
          <div class="line"></div>
          <span>Bienvenido</span>
          <div class="line"></div>
        </div>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
          <a class="btn btn-outline-primary icon-link" href="#"> Portafolio <i class="bi bi-person"></i></a>
          <a class="btn btn-outline-primary icon-link" href="#"> Contactame <i class="bi bi-person"></i></a>
        </div>
      </div>
    </section>
  
    <section id="pageAcerca" class="profile-section p-md-2 text-center text-white">
        <div class="d-flex flex-wrap mx-auto">
          <div class="profile-photo mx-auto"><img src="assets/img/myself.jpg" class="" alt="Usuario"/></div>
          <div class="profile">
              <h3>Mi Presentación</h3>
              <p>Es un gusto! Mi nombre es Juan Jose Oquendo Medina. Quiero contarte mi lema: "El trabajo se hace con pasión, buscando siempre la mejora continua" Por eso soy desarrollador de software... </p>
              <a href="#">Leer más</a>
          </div>
        </div>
        <div class="info-section">
        </div>
    </section>
  
    <section id="pageProyectos">
      <section class="container d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 justify-content-center">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-body-tertiary text-dark shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-body-tertiary text-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </section>
      <section class="container d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-body-tertiary text-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-body-tertiary text-dark shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-body-tertiary text-dark shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </section>
    </section>
  
    <section id="pageExperiencia" class="flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-body-tertiary text-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-body-tertiary text-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </section>
  
    <footer id="pageContacto" class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <img src="assets/img/logoOne.png" width="24" height="24" class="d-block mb-2" />
          <small class="d-block mb-3">&copy; 2025 - Todos los derechos reservados</small>
        </div>
        <div class="col-6 col-md">
          <h5>Redes sociales</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary text-decoration-none" href="#">Git Hub</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">LinkIn</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contacto</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary text-decoration-none" href="#">oquendojuanjose&#64;gmail.com</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Colombia - Risaralda</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Disponible para colaboraciones y proyectos</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Manifiesto</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary text-decoration-none" href="#">Transformando ideas en código, una línea a la vez.</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </main>
  
  <router-outlet />
</div>
